@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Saira+Semi+Condensed:wght@300&display=swap');
*{
    margin: 0px;    
 }
 
 .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    225deg,
    /* #231557 0%, */
    /* #44107a 29%, */
    #ff1361 47%,
    #fff800 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.container-fluiid{
    font-family: 'Nova Oval',cursive;
} 
body{        
    margin: 0;
    height: 100vh;
    /* background: #233142; */
}
ul{
    list-style-type: circle;
    margin: 0;
}
li{
    list-style-type: disc;
    margin-left: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("bac.jpg");
    background-position: center;
    background-size: cover;
    background-color: #2c51b8
    ;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0; */
    background-color: #5E67AD ;
}

nav img{
    width: 150px;

}
.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px ;
    position: relative;
}

.nav-link ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Nova Square', cursive;


}
.nav-link ul li::after,.boxxx h2 ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after,.boxxx :hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid #fff;
    padding: 12px 34px;
    cursor: pointer;
    position: relative;
    background: transparent;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
} 
/* Dropdown */
.dropbtn {
    /* background-color: #3498DB; */
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Nova Square', cursive;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  }
  
  /* Dropdown button on hover & focus */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#A1A8D1 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
/* Dropdown */
@media(max-width:700px){
    .text-box h1,.animate-charcter{
        font-size: 35px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link ul{
        padding: 12px;
    }
    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 50%;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    #navl{
        transition: 2s;
    }
    nav .fa{
        display: block;
        color: whitesmoke;
        margin: 12px;
        cursor: pointer;
        font-size: 20px;
    }
}


/* Contact */
.back-drop{
    background-color: #A1A8D1;
    height: 120vh;
    font-family: 'Roboto Slab', serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    
}

.big-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}
.small-box{
    position: relative;
    color: #0A1661;
    background-color: #DEEBFE;
    height: 35vh;
    width: 35vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.info{
    align-items: center;
    margin-bottom: 15px;

    
}
.campus{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}


.small-box:hover{
    box-shadow: 15px 17px 11px 4px #5E67AD;
-webkit-box-shadow: 15px 17px 11px 4px #5E67AD;
-moz-box-shadow: 15px 17px 11px 4px #5E67AD;
transform: scale(1.05);
}
/* Contact */

/* Dysgraphia */

.view-height {
    
    background-color: #A1A8D1;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/WhatsApp Image 2022-03-22 at 8.28.56 PM.jpeg");
    
}
.bigger-box{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
}
.box,.disease-img1 {
    flex-basis: 0.5;
    /* background-color: #DEEBFE; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px; 
    width: 50%;
    box-sizing: border-box;
    
}
/* .box:hover{
    box-shadow: 5px 5px 9px 1px #5E67AD;
} */

.box ul{
    padding: 3%;
    margin: 3%;
    font-size: 1.3em;
    font-family: r-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color : white;
}

.dabba{
    padding: 3%;
}

.dabba p{
    font-size: 1.3em;
    font-family: r-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color : white;
}


.box h3 {
    text-align: center;
    align-items: center;
    margin-top: 2%;
    font-size: 2.2em;
    color : white;
}

.intro{
    margin-top: 3%;
}

.heading h1{
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    font-family: 'Roboto Slab', serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    color : white;
}
/* Dysgraphia */

.bottomdiv
{
 z-index : 100;
 filter : alpha(opacity=100);
}
.hide{
    display: none;
}

.disease-img1{
    background-image: url('B6DACCC50E134A7C8A2EA85142E01C21.jpg');
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-top: 5%;
}
 @media (max-width:600px) {
     .big-box{
         flex-direction: column;
     }
     
 }
 .but{
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid #fff;
    padding: 12px 34px;
    cursor: pointer;
    position: relative;
    background: #d8346b;
    border-radius: 25px;
 }
 
 .but:hover{
    border: 1px solid #fff800;
    background: #fff800;
    transition: 1s;
 }
 
.boxxx{
    align-items: center;
    margin-top: 15px;
    box-sizing: border-box;
    height: 50vh;
    width: 50vh;
}
.bad-box{
    height: 150vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("backkk.jpeg");
    /* margin-bottom: 15px; */
}
.boxx h2{
    margin-top: 50px;
    padding: 25px;
}
.boxx p{
    font-size:larger;
    padding: 15px;
}
.boxxx :hover::after{
    width: 80%;
}
.boxxx h2 ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1d7e45;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.img-cropper {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    align-items: center;
    background-color:#80ccff; 
    object-fit: contain;
    margin-top: 15px;
    
    
}

.profile-pic {
    display: flex;
    margin: 0 auto;
    /* margin-left: 25%;  */
    /* height: 100%; */
    /* width: auto; */
     position:relative;
     top:0;
    align-items: center;
    margin-top: 5px;
    height:120%;
    width: 120%;
    
  }
  .profile-pic:hover{
      cursor:pointer;
      border-color: black;
  }
